.formVideo{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.formVideo form{
    width: 80%;
    border: solid 5px #22b4d1;
    padding: 3%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 65px;
    color: white;
    margin: 10px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

