.footer{
    display: flex;
    flex-direction: column;
    background-color: #010008e5;
    align-items: center;
    border-top: solid 5px #22b4d1;
    padding: 20px;    
}

.footer p{
    text-align: center;
    margin: 2px;
    color: #22b4d1;
}

.footer img{
    width: 250px;
}

@media screen and (max-width: 500px){

    .footer img{
        width: 150px;
    }
    
}